@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nanum Gothic", sans-serif;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0.1;
    transform: translateX(-8rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0.1;
    transform: translateX(-8rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0.1;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0.1;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
h1 {
  margin-bottom: 40px;
  font-size: 4rem;
  font-weight: 800;
  color: rgb(68, 64, 62);
}

h2 {
  padding: 1rem 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 800;
  background: linear-gradient(60deg, rgb(248, 205, 165) 0%, rgb(100, 49, 15) 19%, rgb(242, 233, 243) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s;
}
h2:hover {
  padding-left: 1.5rem;
}

h3 {
  padding: 0.5rem 0;
  color: #474747;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: 700;
  color: rgb(139, 114, 96);
}

.u-margin-right-small {
  margin-right: 1rem;
}

.u-margin-right-medium {
  margin-right: 2rem;
}

.u-margin-right-big {
  margin-right: 3rem;
}

.btn-text {
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  color: #d2c6d6;
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 1px solid #d2c6d6;
  transition: all 0.5s;
}
.btn-text:hover {
  color: #fff;
  background-color: #feffca;
  border-bottom: 1px solid transparent;
}

.nav-checkbox {
  display: none;
}
.nav-button {
  background-color: #f3dab8;
  width: 7rem;
  height: 6rem;
  position: fixed;
  z-index: 2000;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
  right: 8rem;
  top: 7rem;
}
.nav-bg {
  background-image: radial-gradient(#d2c6d6, #feffca);
  width: 7rem;
  height: 6rem;
  position: fixed;
  z-index: 1000;
  border-radius: 2px;
  right: 8rem;
  top: 7rem;
  transition: all 0.8s;
}
.nav-checkbox:checked ~ .nav-bg {
  transform: scale(80);
}
.nav-icon {
  position: relative;
  margin-top: 3rem;
}
.nav-icon::before {
  top: -0.8rem;
}
.nav-icon::after {
  top: 0.8rem;
}
.nav-icon::before, .nav-icon::after {
  position: absolute;
  content: "";
  left: 0;
  transition: all 0.2s;
}
.nav-icon, .nav-icon::before, .nav-icon::after {
  width: 3rem;
  height: 2px;
  background: #333;
  display: inline-block;
}
.nav-button:hover .nav-icon:before {
  top: -1rem;
}
.nav-button:hover .nav-icon:after {
  top: 1rem;
}
.nav-checkbox:checked ~ .nav-button .nav-icon {
  background-color: transparent;
}
.nav-checkbox:checked ~ .nav-button .nav-icon:before {
  top: 0;
  transform: rotate(135deg);
}
.nav-checkbox:checked ~ .nav-button .nav-icon:after {
  top: 0;
  transform: rotate(-135deg);
}
.nav-body {
  position: fixed;
  top: 0;
  left: -120%;
  width: 100vw;
  height: 100vh;
  z-index: 1500;
  opacity: 0;
  transition: all 0.8s;
}
.nav-list {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  width: 100%;
  text-align: center;
}
.nav-link {
  display: inline-block;
  font-size: 3rem;
  font-weight: 400;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
}
.nav-link:hover {
  color: #d2c6d6;
  background-position: 100%;
  transform: translateX(1rem);
}
.nav-link span {
  display: inline-block;
  margin-right: 1.5rem;
}
.nav-checkbox:checked ~ .nav-body {
  opacity: 1;
  left: 0;
}

header {
  width: 100%;
  height: 100vh;
  background: url(/images/main.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  position: relative;
}
header .logo-text {
  position: absolute;
  left: 7rem;
  top: 4rem;
  font-size: 5.6rem;
  text-transform: uppercase;
  font-weight: 100;
  color: #fff;
  letter-spacing: -0.1rem;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
header .header-text {
  position: absolute;
  left: 7rem;
  bottom: 23%;
  color: #fff;
  letter-spacing: -0.1rem;
  font-weight: 700;
}
header .header-text-main {
  font-size: 7.2rem;
  line-height: 7.2rem;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
header .header-text-sub {
  margin-top: 3rem;
  font-size: 2.4rem;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

main .container {
  width: 1300px;
  margin: 0 auto;
}
main .container .section-about {
  margin: 122px 0 0 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .container .section-about-photo {
  width: 600px;
}
main .container .section-about-words {
  top: 275px;
  right: 232px;
  position: relative;
}
main .container .section-about-words img.img01 {
  position: absolute;
  transform: rotate(219deg);
  top: 235px;
  right: -178px;
}
main .container .section-about-words img.img02 {
  position: absolute;
  transform: rotate(415deg);
  top: -123px;
  right: 200px;
}
main .container .section-etc {
  width: 100%;
  height: 100vh;
}
main .container .section-etc-album {
  margin-left: 100px;
}
main .container .section-etc-album .etc.etc-1 {
  position: relative;
  margin: 50px 70px;
  float: left;
}
main .container .section-etc-album .etc.etc-1:hover {
  transform: scale(1.05);
  transition: 0.8s ease;
}
main .container .section-etc-album .etc.etc-1 .etc-text {
  position: absolute;
  top: 267px;
}
main .container .section-etc-album .etc.etc-1 .etc-text p {
  font-size: 13px;
}
main .container .section-youtube {
  width: 100%;
  height: 100vh;
}
main .container .section-youtube h1 {
  margin-bottom: 90px;
}
main .container .section-youtube-link {
  margin-left: 150px;
}

footer {
  color: #b9b9b9;
  background-color: #f3dab8;
  padding: 9rem 7rem 3rem 7rem;
}
@media screen and (max-width: 700px) {
  footer {
    padding: 9rem 2rem 3rem 7rem;
  }
}
footer::after {
  content: "";
  display: block;
  clear: both;
}
footer .copyright {
  width: 75%;
  font-size: 1.2rem;
  float: right;
}
footer .copyright p:nth-child(2) {
  margin-top: 20px;
}
@media screen and (max-width: 700px) {
  footer .copyright {
    width: 60%;
  }
}/*# sourceMappingURL=index.css.map */